.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 40px;
  width: 100vw;
  height: 100vh;
  background: url('/images/home/fine-arts-splash-desktop.jpg') center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.school {
  font-size: 42px;
  font-size: 3vw;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
  padding-left: 1.5vw;
}

.title {
  margin-top: -60px;
  color: white;
  line-height: .9;
}

.title h1 {
  display: inline;
  text-transform: uppercase;
}

.title h1 span:first-child {
  display: block;
  font-size: 320px;
  font-size: 22vw;
  letter-spacing: 6vw;
  font-weight: 800;
}

.title h1 span:last-child {
  font-size: 195px;
  font-size: 13vw;
  font-weight: 800;
  letter-spacing: 1vw;
}

.title h2 {
  display: inline-block;
  font-size: 42px;
  font-size: 3vw;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
}

.title h2 span:first-child {
  display: block;
}

.buttonWrapper {
  position: absolute;
  bottom: 45px;
  right: 40px;
  display: flex;
  justify-content: flex-end;
}

.buttonWrapper a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background: linear-gradient(to right, white 25%, black 25%, black 50%, white 50%, white 75%, black 0);
  background-size: 400% 100%;
  background-position-x: 100%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  box-sizing: border-box;
  transition: background-position .6s ease-in-out,
              color .3s ease-in-out;
}

.buttonWrapper a:hover {
  background-position-x: 0;
  color: black;
}

@media screen and (min-width: 768px) {
  .main {

  }

  .title {
    
  }
}