.sideMenu{

    text-align: right;
    /* max-width: calc; */
    /* position: sticky;
    top:25px; */
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky; 

}

.sideMenu ul{
    list-style: none;

    /* display: block; */
}

.sideMenu h2{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.07*var(--artwork-container-width));
    line-height: 150%;
}

.sideMenu li{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.05*var(--artwork-container-width));
    line-height: 180%;
    margin-bottom: calc(0.04*var(--artwork-container-width));
    /* max-width: 12vw;
    position: relative; */
}